
body {
    font-style: inter;
}

.nav-blok__navbar-1 {
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(0, 0, 0, 0.702);
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: 1s;
    color: #fff;
}
.nav-block__list-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.nav-block__link {
    display: flex;
    color: white;
    text-decoration: none;
}

.nav-blok__navbar-1--activ {
    transform: translateY(-100%);
}